body {
  margin: 0;
  background: black;
  color: white;
  font-family: serif;
}

.center {
  text-align: center;
  padding-top: 100px;
}

.gold {
  color: gold;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 30px;
}

.container {
  padding: 40px;
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
}
